/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);


html {
    color: #222;
    font-family: 'Sourse Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.4;
}



::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    color: #0288D1;
    text-decoration: none;
}

a:hover {
    color: #FFFF00;
}

h2 {
    font-size: 25px;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

#main-header {
    height: 100px;
    border-bottom: 2px #0288D1 solid;
    overflow: hidden;
    margin-bottom: 20px;
}

#branding {
    float: left;
    width: 50%;
}

#branding h1{
    color: #fff;
    padding: 0 0 0 70px;
}

#branding img {
    position: absolute;
    height: auto;
}

#main-nav {
    float: right;
    width: 50%;
    padding-top: 12px;
}

#main-nav li {
    float: left;
    padding: 8% 5% 0 5%;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
} 

#content {
    float: left;
    width: 63%;
    margin-right: 7%;
}

#sidebar {
    float: right;
    width: 30%;
    margin-top: 12%;
}


article h2 {
    margin-top: 10%;
    padding: 5px 10px;
    background: #333;
    color: #fff;
}

article img {
    width: 100%;
}

article .meta {
    margin: 0;
    padding: 5px 10px;

}

article .meta span {
    float: right;
}

article .readmore {
    background-color: #0288D1;
    color: #fff;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
}

article .readmore:hover {
    background-color: #FFFF00;
}

#sub-nav {
    padding: 20px 0 20px 0;
}

#sub-nav li{
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0 5px 0;
    border-bottom: 1px dotted #0288D1;
}

.ad img{
    width: 100%;
}


#main-footer {
    background: #0288D1;
    color: #fff;
    min-height: 150px;
    padding-top: 20px;
    margin-top: 35px;
    overflow: auto;
}

#main-footer a {
    color: #fff;
    font-size: 13px;
}

#main-footer .footer-nav li {
    padding: 3px 0 7px;
}


#main-footer .copy{
    margin: 0;
    font-size: 13px;
}

.push {
    clear: both;
    height: 18em;
}

/*code below doesn't work*/

.search input [type="search"] {
    border: 1px solid #ccc;
    height: 15px;
    width: 85%;
    padding: 3px;
    float: left;
}

.search input [type="search"] {
    width: 10%;
    float: right;
}
/* end of not working css*/

#comments {
    margin-top: 45px;
}

.comment-left {
    float: left;
    width: 8%;
}

.comment-left img {
    width: 100%;
}

.comment-right {
    float: right;
    width: 85%;
}

.contact-form {
    margin-top: 20px;
    padding: 5px 20px 10px 20px;
    border-radius: 2px;
}

.contact-form button {
    padding: 7px 10px;
}

.contact-form input [type="text"], .contact-form input [type="email"] {
    border: 1px solid #ccc;
    height: 20px;
    padding: 3px;
    width: 97%;
}

.contact-form textarea {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px;
    width: 97%;
}

.add-form input [type="text"]{
    border: 1px solid #ccc;
    height: 20px;
    padding: 3px;
    width: 97%;
}

.add-form button{
    padding: 7px 10px;

}

.add-form select {
    border: 1px solid #0288D1;
    height: 33px;
    padding: 3px;
    width: 98%;
}

.add-form textarea {
    border: 1px solid #0288D1;
    height: 50px;
    padding: 10px;
    width: 94%;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 900px) {
    
    #main-nav {
        width: 80%;
    }
    
    #sidebar {
        float: none;
        width: 100%;
    }
    
    #content {
        float: none;
        width: 100%;
    }
    
    
    
    }

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}